.app-header .links {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: Raleway;
}

.app-header {
  position: fixed;
  transform: translate3d(0, -2px, 0);
  opacity: 1;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  -webkit-transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.app-header.hidden {
  opacity: 0;
  transform: translate3d(0, -60px, 0);
}

.app-header .logo {
  font-family: Raleway;
  font-size: 30px;
  color: white;
  margin-left: 0px;
  text-decoration: none;
  color: #aeeff0;
}
.app-header .navigation {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: #272f35;
  left: 0;
  height: 60px;
}

.app-header .navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.app-header .navigation li {
  padding: 0 1rem;
}

.app-header .navigation ul li a {
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease-in-out;
}

.app-header .navigation ul li a:hover {
  color: #aeeff0;
}

@media (max-width: 1080px) {
  .app-header li {
    display: none;
  }
}

@media (min-width: 1081px) {
  .app-header .toggle {
    display: none;
  }

  .side-drawer {
    display: none;
  }
}
