#typewriter {
  padding: 10px;
  font-family: Kosugi;
  font-size: 3vw;
}
@media (max-width: 767px) {
  .home-section {
    height: 500px;
    background-size: auto 500px;
    align-items: baseline;
  }

  .home-text {
    font-size: 4rem;
    padding: 0;
    text-align: center;
  }

  #typewriter {
    font-size: 5vw;
  }
}

@media (min-width: 1081px) {
  #typewriter {
    font-size: 2vw;
  }
}
