.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin: 2em auto;
  padding: 1em;
  box-shadow: 0px 0px 30px black;
  background-color: #181825;
}
.card h2 {
  text-transform: uppercase;
  border-bottom: 1px solid #9399b2;
  margin-top: 10px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
}

.card strong {
  color: white;
}

@media (min-width: 760px) {
  .card {
    max-width: 60vw;
  }
  .card h2 {
    max-width: 60%;
  }
}
@media (min-width: 960px) {
  .card {
    width: 60vw;
    max-width: 960px;
  }
}
