nav {
  text-align: center;
  padding: 5px;
}

a {
  text-decoration: none;
}

nav a {
  margin: 0 5px;
}

nav a.active {
  color: #a6e3a1;
  font-weight: bold;
}

a.inactive {
  color: #94e2d5;
}

@media (min-width: 480px) {
  nav a {
    margin: 0 10px;
  }
}

@media (min-width: 760px) {
  nav a {
    margin: 0 30px;
  }
}
