@font-face {
  font-family: "Iosevka";
  src: url("./fonts/Iosevka/iosevka-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Iosevka";
  src: url("./fonts/Iosevka/iosevka-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Iosevka";
  src: url("./fonts/Iosevka/iosevka-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

ul {
  text-align: left;
}
.main {
  margin-top: 50px;
}

.flamingo {
  color: #f2cdcd;
}

.rosewater {
  color: #f5e0dc;
}

.pink {
  color: #f5c2e7;
}

.mauve {
  color: #cba6f7;
}

.red {
  color: #f38ba8;
}

.maroon {
  color: #eba0ac;
}

.peach {
  color: #fab387;
}

.yellow {
  color: #f9e2af;
}

.green {
  color: #a6e3a1;
}

.teal {
  color: #94e2d5;
}

.sky {
  color: #89dceb;
}

.sapphire {
  color: #74c7ec;
}

.blue {
  color: #74c7ec;
}

.lavender {
  color: #b4befe;
}

.flamingo-border {
  border-color: #f2cdcd;
}

.rosewater-border {
  border-color: #f5e0dc;
}

.pink-border {
  border-color: #f5c2e7;
}

.mauve-border {
  border-color: #cba6f7;
}

.red-border {
  border-color: #f38ba8;
}

.maroon-border {
  border-color: #eba0ac;
}

.peach-border {
  border-color: #fab387;
}

.yellow-border {
  border-color: #f9e2af;
}

.green-border {
  border-color: #a6e3a1;
}

.teal-border {
  border-color: #94e2d5;
}

.sky-border {
  border-color: #89dceb;
}

.sapphire-border {
  border-color: #74c7ec;
}

.blue-border {
  border-color: #74c7ec;
}

.lavender-border {
  border-color: #b4befe;
}

body {
  font-family: Iosevka, Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  background-color: #1e1e2e;
  color: #cdd6f4;
  font-size: 1rem;
}

.circle {
  border-radius: 50%;
}

.profile-pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

main {
  text-align: center;
  padding: 1em;
  margin: 0 auto;
}

h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 3rem;
  /* font-weight: 100; */
  font-weight: normal;
  line-height: 1.1;
  /* margin: 4rem auto; */
  margin: auto;
  /* max-width: 14rem; */
}

p {
  margin: 1em auto;
  line-height: 1.35;
}

@media (min-width: 480px) {
  h1 {
    font-size: 4rem;
  }

  p {
    max-width: none;
  }

  body {
    font-size: 1.3rem;
  }
}

@media (min-width: 1080px) {
  .profile-pic {
    width: 400px;
    height: 400px;
  }
}
